[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
tomli = "*"
platformdirs = "*"
python-dateutil = "*"
pytz = "*"
caldav = "1.3.6"
build = "*"
eml2cal = {path = "."}

[dev-packages]

[requires]
